doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css')
        title Document
    body
        div.container
            include ../includes/nav.pug
            block content
            

        block footer
            