doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/css/styles.css')
        title Document
    body
        div.container
            h1 Hello
            include includes/nav.pug

            section.main
                block content
            

        footer
            Tous droits réservés